<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payroll.web.adapter.persistence.mapper.fundtransferunit.FundTransferUnitMapper">
    <!--suppress MybatisMapperXmlInspection -->
    <select id="selectFT_UNIT_ID_nextval" resultType="_long" flushCache="true">
        SELECT
            FT_UNIT_ID_SEQUENCE.nextval
        FROM
            DUAL
    </select>
    <select id="selectFT_UNITS_byId" resultType="com.payroll.web.adapter.persistence.mapper.fundtransferunit.FT_UNITS">
        SELECT
            FT_UNIT_ID,
            CHARGE_DATE,
            CREATED_DATE,
            COMPANY_ID
        FROM
            FT_UNITS
        WHERE
            FT_UNIT_ID = #{id}
    </select>
    <select id="selectFT_UNITS_bySearchCriteria" resultType="com.payroll.web.adapter.persistence.mapper.fundtransferunit.FT_UNITS">
        SELECT
            FT_UNIT_ID,
            CHARGE_DATE,
            CREATED_DATE,
            COMPANY_ID
        FROM
            FT_UNITS
        <where>
            <if test="chargeDateFrom != null">
                CHARGE_DATE &gt;= #{chargeDateFrom}
            </if>
            <if test="chargeDateTo != null">
                AND CHARGE_DATE &lt;= #{chargeDateTo}
            </if>
        </where>
    </select>
    <insert id="insertFT_UNITS">
        INSERT INTO
            FT_UNITS (
                FT_UNIT_ID,
                CHARGE_DATE,
                CREATED_DATE,
                COMPANY_ID
            )
        VALUES (
            #{fundTransferUnit.fundTransferUnitId.rawId},
            #{fundTransferUnit.chargeDate.chargeDate},
            #{createdDate},
            #{fundTransferUnit.companyId.rawId}
        )
    </insert>
    <update id="updateFT_UNITS">
        UPDATE
            FT_UNITS
        SET
            CHARGE_DATE = #{chargeDate.chargeDate},
            COMPANY_ID = #{companyId.rawId}
        WHERE
            FT_UNIT_ID = #{fundTransferUnitId.rawId}
    </update>
</mapper>
