<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payroll.web.adapter.persistence.mapper.employee.EmployeeViewMapper">
    <!--suppress MybatisMapperXmlInspection -->
    <select id="selectEMPLOYEES_VIEW_byId" resultType="com.payroll.web.adapter.persistence.mapper.employee.EMPLOYEES_VIEW">
        SELECT
            EMPLOYEE_ID,
            COMPANY_ID,
            ACCOUNT_HOLDER,
            FINANCIAL_INSTITUTION_CODE,
            TYPE_NUMBER,
            ACCOUNT_NUMBER
        FROM
            EMPLOYEES_VIEW
        WHERE
            EMPLOYEE_ID = #{id}
    </select>
    <select id="selectEMPLOYEES_VIEW_byEnabledEmployeeAccount"  resultType="com.payroll.web.adapter.persistence.mapper.employee.EMPLOYEES_VIEW">
        SELECT
            EMPLOYEE_ID,
            COMPANY_ID,
            ACCOUNT_HOLDER,
            FINANCIAL_INSTITUTION_CODE,
            TYPE_NUMBER,
            ACCOUNT_NUMBER
        FROM
            EMPLOYEES_VIEW
        WHERE
            ACCOUNT_HOLDER = #{accountHolder.name}
            AND FINANCIAL_INSTITUTION_CODE = #{account.financialInstitutionCode.rawCode}
            AND TYPE_NUMBER = #{account.typeNumber.rawNumber}
            AND ACCOUNT_NUMBER = #{account.accountNumber.rawNumber}
    </select>
</mapper>