<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatic.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payroll.web.adapter.persistence.mapper.ChargeRequestsViewMapper">
    <!--suppress MybatisMapperXmlInspection -->
    <select id="selectCHARGE_REQUESTS_VIEW_byFundTransferUnitId"
            resultType="com.payroll.web.adapter.persistence.mapper.CHARGE_REQUESTS_VIEW">
        SELECT
            CHARGE_REQUEST_ID,
            FT_UNIT_ID,
            TRANSFER_AMOUNT_OF_MONEY,
            ACCOUNT_HOLDER,
            FINANCIAL_INSTITUTION_CODE,
            TYPE_NUMBER,
            ACCOUNT_NUMBER,
            CHARGE_REQUEST_STATUS,
            UPDATE_DATE
        FROM
            CHARGE_REQUESTS_VIEW
        WHERE
            FT_UNIT_ID = #{fundTransferUnitId}
    </select>
</mapper>