<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payroll.web.adapter.persistence.mapper.ContractMapper">
    <select id="selectCONTRACTS_for_fundTransferCompany_byFundTransferCompanyId"
            resultType="com.payroll.web.adapter.persistence.mapper.CONTRACTS">
        SELECT
            COMPANY_ID,
            FT_COMPANY_ID,
            CREATED_DATE
        FROM
            CONTRACTS
        WHERE
            FT_COMPANY_ID = #{fundTransferCompanyId}
    </select>
    <insert id="insertCONTRACTS">
        INSERT INTO
            CONTRACTS (
                COMPANY_ID,
                FT_COMPANY_ID,
                CREATED_DATE
            )
        VALUES (
            #{companyId.rawId},
            #{fundTransferCompanyId.rawId},
            #{createdDate}
        )
    </insert>
</mapper>