<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatic.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payroll.web.adapter.persistence.mapper.FundTransferUnitMapper">
    <!--suppress MybatisMapperXmlInspection -->
    <select id="selectFT_UNIT_ID_nextval" resultType="_long" flushCache="true">
        SELECT
            FT_UNIT_ID_SEQUENCE.nextval
        FROM
            DUAL
    </select>
    <select id="selectFT_UNITS_byId" resultType="com.payroll.web.adapter.persistence.mapper.FT_UNITS">
        SELECT
            FT_UNIT_ID,
            CHARGE_DATE,
            CREATED_DATE,
            COMPANY_ID
        FROM
            FT_UNITS
        WHERE
            FT_UNIT_ID = #{id}
    </select>
    <select id="selectFT_UNITS" resultType="com.payroll.web.adapter.persistence.mapper.FT_UNITS">
        SELECT
            FT_UNIT_ID,
            CHARGE_DATE,
            CREATED_DATE,
            COMPANY_ID
        FROM
            FT_UNITS
    </select>
    <insert id="insertFT_UNITS">
        INSERT INTO
            FT_UNITS (
                FT_UNIT_ID,
                CHARGE_DATE,
                CREATED_DATE,
                COMPANY_ID
            )
        VALUES (
            #{fundTransferUnit.fundTransferUnitId.rawId},
            #{fundTransferUnit.chargeDate.chargeDate},
            #{createdDate},
            #{fundTransferUnit.companyId.rawId}
        )
    </insert>
</mapper>