<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payroll.web.adapter.persistence.mapper.FundTransferCompanyNotificationMapper">
    <!--suppress MybatisMapperXmlInspection -->
    <select id="selectFT_NOTIFICATION_ID_nextval" resultType="_long" flushCache="true">
        SELECT
            FT_NOTIFICATION_ID_SEQUENCE.nextval
        FROM
            DUAL
    </select>
    <select id="selectFT_COMPANY_NOTIFICATIONS_byFundTransferCompanyId"
            resultType="com.payroll.web.adapter.persistence.mapper.FT_COMPANY_NOTIFICATIONS">
        SELECT
            FT_COMPANY_NOTIFICATION_ID,
            TITLE,
            CONTENT,
            NOTIFICATION_DATE,
            FT_COMPANY_ID,
            NOTIFICATION_TEMPLATE_ID
        FROM
            FT_COMPANY_NOTIFICATIONS
        WHERE
            FT_COMPANY_ID = #{ftCompanyId}
    </select>
    <insert id="insertFT_COMPANY_NOTIFICATIONS">
        INSERT INTO
            FT_COMPANY_NOTIFICATIONS (
                FT_COMPANY_NOTIFICATION_ID,
                TITLE,
                CONTENT,
                NOTIFICATION_DATE,
                FT_COMPANY_ID,
                NOTIFICATION_TEMPLATE_ID
            )
        VALUES (
            #{ftCompanyNotificationId},
            #{title},
            #{content},
            #{notificationDate},
            #{ftCompanyId},
            #{notificationTemplateId}
        )
    </insert>
</mapper>