<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payroll.web.adapter.persistence.mapper.invoicestatement.BillingStatusMapper">
    <select id="selectBILLING_STATUS_byId_where_latest" resultType="com.payroll.web.adapter.persistence.mapper.invoicestatement.BILLING_STATUS">
        SELECT
            INVOICE_STATEMENT_ID,
            BILLING_STATUS,
            UPDATE_DATE
        FROM
            BILLING_STATUS
        WHERE
            INVOICE_STATEMENT_ID = #{id}
        ORDER BY UPDATE_DATE DESC
        FETCH FIRST 1 ROWS ONLY
    </select>
    <insert id="insertBILLING_STATUS">
        INSERT INTO
            BILLING_STATUS (
                INVOICE_STATEMENT_ID,
                BILLING_STATUS,
                UPDATE_DATE
            )
        VALUES (
            #{invoiceStatement.invoiceStatementId.rawId},
            #{invoiceStatement.billingStatus},
            #{updateDate}
        )
    </insert>
</mapper>